/* iPhone 7 portrait mode */
@media (max-width: 375px) {
  .main-nav-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main-nav-img {
    margin-top: 4rem;
  }
  .main-nav {
    margin-top: 6rem;
  }
  .main-nav-ul {
    display: inherit;
    grid-template-columns: 1fr;
    margin-left: 2rem;
  }
  li {
    margin-bottom: 3rem;
  }

  /* Intro Fix */
  .intro-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 6rem;
    width: 100%;
    height: 100%;
  }
  .intro-img {
    border-radius: 11px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 35px 2px #fff;
  }
  .intro-img-1 {
    margin-bottom: 2rem;
  }
  .intro-text {
    justify-items: center;
    align-self: center;
    text-align: center;
    margin: 0 8%;
    font-size: 2rem;
    cursor: default;
  }

  /* Fix products */

  .products-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: -10rem;
  }

  .product-container-1,
  .product-container-2 {
    justify-self: center;
    align-items: start;
    border: solid 1px black;
    border-radius: 12px;
    background-color: var(--lbrown);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 15rem;
  }
  .product-container-2 {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .glasses-img-1,
  .glasses-img-2 {
    border-radius: 11px;
    max-width: 55%;
    height: 55%;
    margin-top: 4rem;
  }
  .product-container-2 {
    padding-bottom: 0;
  }

  /* Gallery Fix */
  .thumb-main-img {
    border: solid 1px black;
    border-radius: 20px;
    max-width: 80%;
    max-height: 40%;
  }

  /* Reviews Fix */
  .feedback-cards-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    column-gap: 3rem;
  }

  .client-container {
    background-color: #eee;
    align-items: center;
    border-radius: 11px;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
  }
  .customer-img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.24);
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .customer-img-2 {
    /* width: 21.98%; */
    width: 15%;
    height: 26%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.24);
  }
  .customer-text {
    font-size: 1.6rem;
    margin: 0% 3%;
    justify-content: center;
  }
}
